{% extends "base.html" %}

{% block content %}

					
           	 <hr width="100%">
 			 <hr width="100%">
 			 
			<div class="row">

						<div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="7">REPORTES</font></h1>
						</div>
				</div>
			 

      
      
					
					<h4><font color="#0000FF">RRHH</font></h4>
 					<a href="/RRHH_ReportesDiaDeEstudio" class="btn btn-primary">Dias de Estudio</a>
					
						<a href="/RRHH_Reportes_Vacaciones" class="btn btn-primary">Vacaciones</a>
					<br>
					<br>
					<h4><font color="#0000FF">Comercial</font></h4>
					<a href="/Comercial_Reportes" class="btn btn-primary">Actividades</a>
					<br>
					<br>
					<h4><font color="#0000FF">Operaciones</font></h4>
					<a href="/Operaciones_Reportes" class="btn btn-primary">Edilicios</a>

										

{% endblock %}