{% extends "base.html" %}

{% block content %}
	 	<hr width="100%">
 			 <hr width="100%">

			 
			<div class="row">
				 <div class="boton col-md-12">
      					  <div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="7">REPORTES VACACIONES</font></h1>
						</div>
						<a href="/PanelDeControl" class="btn btn-primary">Volver</a>
  
           			 </div>
           			</div>
           			
      <div class="row post">
      <div class="col-md-3">
      	<h4><font color="#0000FF">APELLIDO Y NOMBRE</font></h4>
      </div>
	  <div class="col-md-3">
	  <h4><font color="#0000FF">DNI</font></h4>
      </div>
	  <div class="col-md-3">
	  <h4><font color="#0000FF">FECHA INICIO</font></h4>
      </div>
	  <div class="col-md-3">
	  <h4><font color="#0000FF">FECHA FIN</font></h4>
		</div>
		</div>
      

  {% for rrhhvacaciones in posts %}
    <div class="row post">
      <div class="col-md-3">
        <h4>{{rrhhvacaciones.apellidoynombre}}</h4>
      </div>
	  <div class="col-md-3">
        <h4>{{rrhhvacaciones.dni}}</h4>
      </div>
	  <div class="col-md-3">
        <h4>{{rrhhvacaciones.fechainicio}}</h4>
      </div>
	  <div class="col-md-3">
        <h4>{{rrhhvacaciones.fechafin}}</h4>
      </div>
       
      
      
	  
      <div class="col-md-12 acciones">
		<a href="/rrhhvacaciones/editar/{{rrhhvacaciones.id}}"><i class="fa fa-pencil fa-fw"></i></a>
        <a href="/rrhhvacaciones/eliminar/{{rrhhvacaciones.id}}"><i class="fa fa-trash-o fa-fw"></i></a>
        
      </div>
        
    </div>
  {% endfor%}
{% endblock %}