{% extends "base.html" %}

{% block content %} 

  
		<div class="row text-center">
			<h2>Estas seguro que quiere borrar esta Solicitud?</h2>
		</div>
		<div class="row post">
			<div class="col-md-3">
				<h4><font color="#0000FF">APELLIDO Y NOMBRE</font></h4>
				<h4>{{post.apellidoynombre}}</h4>
			</div>
			<div class="col-md-3">
				<h4><font color="#0000FF">DNI</font></h4>
				<h4>{{post.dni}}</h4>
			</div>
			<div class="col-md-3">
				<h4><font color="#0000FF">MATERIA</font></h4>
				<h4>{{post.materia}}</h4>
			</div>
			<div class="col-md-3">
				<h4><font color="#0000FF">FECHA</font></h4>
				<h4>{{post.fecha}}</h4>
				</div>
        
		</div>

		<br>
 
			<form action="/rrhh/eliminar/{{post.id}}" method = 'post'>
				<button type="submit" class="btn btn-danger" id="submit" type="submit">Yes</button>
				<a class="btn btn-primary" href="/RRHH_Reportes" role="button">No</a>
			</form>   
{% endblock %}




