{% extends "base.html" %}

{% block content %}
  <div class="row">

             <hr width="100%">
 			 <hr width="100%">
 			 

			 
			<div class="row">
				 <div class="boton col-md-12">
      					  <div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="7">SOLICITUD DIA DE ESTUDIO</font></h1>
						</div>
      					  
           			 		<p align="left">
      					  					
					<a href="/RRHH_Home" class="btn btn-primary">Volver</a>
					
           			 
      					  
           			 </div>
           			</div>
      <form method="post">
        <p>Apellido y Nombre</p>
        <input type="text"  name="apellidoynombre" size="30">
		<br>
		<br>
		<p>DNI</p>
        <input type="text"  name="dni" size="15">
		<br>
		<p>MATERIA</p>
        <input type="text"  name="materia" size="15">
		<br>
		
		      
        
        
		<p>Fecha</p>
        <input type="date"  name="fecha" size="30">
		
        
        </p>
		<p>
        <br>
		
      
        <button type="submit" class="btn btn-primary"><font face="Segoe UI">Solicitar</font></button>
		      	

      	</font>
      	</p>
      </form>
    </div>
  </div>
{% endblock %}